<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fansy panel</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        function getStreamers() {

            var request = new XMLHttpRequest();

            request.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    try {
                        if (this.responseText == "") {
                            return;
                        }
                        var streamersList = JSON.parse(this.responseText);
                        for (var i = 0; i < streamersList.length; i++) {
                            var streamer = streamersList[i];
                            //console.log("\n\n\n");
                            //console.log(JSON.stringify(streamer));
                            var componentMachine = document.getElementById(streamer["name"] + "-machineStatus");
                            var componentStream = document.getElementById(streamer["name"] + "-streamStatus");
                            var componentSpectator = document.getElementById(streamer["name"] + "-spectatorStatus");
                            if (componentStream === null || componentMachine === null || componentSpectator === null) {
                                continue;
                            }
                            componentMachine.innerHTML = streamer["machineStatus"] + " " +
                                                         streamer["machineStatusUpdatedAt"] + ", " +
                                                         streamer["machineStatusChangedAt"];
                            componentStream.innerHTML = "<a href=\"http://twitch.tv/" + 
                                                        streamer["name"] + 
                                                        "\" target=\"_blank\">" + 
                                                        streamer["streamStatus"] + "</a> " +
                                                        streamer["streamStatusUpdatedAt"] + ", " +
                                                        streamer["streamStatusChangedAt"];
                            var s = "";
                            if(streamer["spectatorUrl"]) {
                                s = "<a href=\"http://" + streamer["spectatorUrl"] + ":3000\" target=\"_blank\">" + streamer["spectatorStatus"] + "</a> ";
                            } else {
                                s = streamer["spectatorStatus"] + " ";
                            }
                            componentSpectator.innerHTML = s +
                                                        streamer["spectatorStatusUpdatedAt"] + ", " +
                                                        streamer["spectatorStatusChangedAt"];

                        }
                        //console.log("Update");
                    }
                    catch (err) {
                        console.log(err);
                    }
                }
            };

            request.open("GET", "streamers/getstreamers", true);
            request.send();
        }
        setInterval(getStreamers, 5000);
    </script>
</head>
<body>

<div class="container">
    <h2>Streamers status</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Nickname</th>
            <th>Machine</th>
            <th>Stream</th>
            <th>Spectator</th>
            <!--<th>Downloading</th>-->
        </tr>
        </thead>
        <tbody>
        {{#each streamersNames}}
            <tr>
                <td id="{{name}}-name"><a href="/streamer/{{name}}">{{name}}</a></td>
                <td id="{{name}}-machineStatus">{{machineStatus}} {{"machineStatusUpdatedAt"}}, {{"machineStatusChangedAt"}}</td>
                <td id="{{name}}-streamStatus">{{"streamStatus"}} {{"streamStatusUpdatedAt"}}, {{"streamStatusChangedAt"}}</td>
                <td id="{{name}}-spectatorStatus"><a href="http://{{spectatorUrl}}:3000" target="_blank">{{"spectatorStatus"}}</a> {{"spectatorStatusUpdatedAt"}}, {{"spectatorStatusChangedAt"}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <hr>
    <form name="addstreamer" method="post" action="/streamers/addstreamer">
        <input type="text" name="nickname" placeholder="Streamer name...">
        <button type="submit" class="btn btn-primary" name="addstreamerUp">
            Add streamer
        </button>
    </form>
</div>

</body>
</html>